In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./system_extraction.xlsx')

In [4]:
df

,Data,Nº pedido,Vendedor,Produto vendido,Quantidade,Preço,Região,Cliente,Valor Pedido,Margem Lucro
0,2021-01-01,1011,Paulo,Produto 2,5,10.67,Noroeste,RUST,53.35,11.737
1,2021-01-01,2107,Cláudia,Produto 1,10,5.87,Norte,DIE CAST,58.70,5.283
2,2021-01-01,3203,Pedro,Produto 2,20,9.02,Leste,CORP,180.40,37.884
3,2021-01-01,4299,Ana,Produto 2,15,8.61,Oeste,GATOP,129.15,25.830
4,2021-01-02,1012,Ana,Produto 3,15,2.24,Oeste,RUST,33.60,6.048
...,...,...,...,...,...,...,...,...,...,...
4379,2021-12-30,5393,Pedro,Produto 5,40,5.26,Sul,RUST,210.40,42.080
4380,2021-12-31,2106,Ana,Produto 2,30,8.99,Nordeste,CORP,269.70,13.485
4381,2021-12-31,3202,Paulo,Produto 1,15,4.51,Noroeste,LUFA,67.65,5.412
4382,2021-12-31,4298,Ana,Produto 2,5,10.58,Sudoeste,RUST,52.90,5.819
4383,2021-12-31,5394,Ana,Produto 5,10,5.13,Sul,AGD,51.30,8.208

In [5]:
df.head(5)

,Data,Nº pedido,Vendedor,Produto vendido,Quantidade,Preço,Região,Cliente,Valor Pedido,Margem Lucro
0,2021-01-01,1011,Paulo,Produto 2,5,10.67,Noroeste,RUST,53.35,11.737
1,2021-01-01,2107,Cláudia,Produto 1,10,5.87,Norte,DIE CAST,58.70,5.283
2,2021-01-01,3203,Pedro,Produto 2,20,9.02,Leste,CORP,180.40,37.884
3,2021-01-01,4299,Ana,Produto 2,15,8.61,Oeste,GATOP,129.15,25.830
4,2021-01-02,1012,Ana,Produto 3,15,2.24,Oeste,RUST,33.60,6.048

In [6]:
df = df.drop(columns=['Região', 'Preço'])

In [7]:
df

,Data,Nº pedido,Vendedor,Produto vendido,Quantidade,Cliente,Valor Pedido,Margem Lucro
0,2021-01-01,1011,Paulo,Produto 2,5,RUST,53.35,11.737
1,2021-01-01,2107,Cláudia,Produto 1,10,DIE CAST,58.70,5.283
2,2021-01-01,3203,Pedro,Produto 2,20,CORP,180.40,37.884
3,2021-01-01,4299,Ana,Produto 2,15,GATOP,129.15,25.830
4,2021-01-02,1012,Ana,Produto 3,15,RUST,33.60,6.048
...,...,...,...,...,...,...,...,...
4379,2021-12-30,5393,Pedro,Produto 5,40,RUST,210.40,42.080
4380,2021-12-31,2106,Ana,Produto 2,30,CORP,269.70,13.485
4381,2021-12-31,3202,Paulo,Produto 1,15,LUFA,67.65,5.412
4382,2021-12-31,4298,Ana,Produto 2,5,RUST,52.90,5.819
4383,2021-12-31,5394,Ana,Produto 5,10,AGD,51.30,8.208

In [8]:
df.loc[df['Vendedor'] == 'Paulo']

,Data,Nº pedido,Vendedor,Produto vendido,Quantidade,Cliente,Valor Pedido,Margem Lucro
0,2021-01-01,1011,Paulo,Produto 2,5,RUST,53.35,11.7370
12,2021-01-04,1014,Paulo,Produto 1,50,LUFA,251.00,35.1400
17,2021-01-05,2111,Paulo,Produto 4,25,RUST,26.25,6.5625
18,2021-01-05,3207,Paulo,Produto 2,20,RUST,187.60,15.0080
19,2021-01-05,4303,Paulo,Produto 1,50,HYNLER,247.00,46.9300
...,...,...,...,...,...,...,...,...
4363,2021-12-26,5389,Paulo,Produto 3,25,CANDY,42.50,6.8000
4367,2021-12-27,5390,Paulo,Produto 1,30,LUFA,161.10,16.1100
4371,2021-12-28,5391,Paulo,Produto 2,15,CANDY,149.55,37.3875
4374,2021-12-29,4296,Paulo,Produto 3,75,RUST,147.75,26.5950
4381,2021-12-31,3202,Paulo,Produto 1,15,LUFA,67.65,5.4120

In [9]:
df.loc[df['Vendedor'] == 'Paulo', ['Valor Pedido']]

      Valor Pedido
0            53.35
12          251.00
17           26.25
18          187.60
19          247.00
...            ...
4363         42.50
4367        161.10
4371        149.55
4374        147.75
4381         67.65

[1064 rows x 1 columns]

In [12]:
df.groupby(['Produto vendido']).sum()

                 Nº pedido  Quantidade  Valor Pedido  Margem Lucro
Produto vendido
Produto 1          2928197       24985     131051.55    20030.5065
Produto 2          2887079       24740     240373.50    36278.6930
Produto 3          2692020       24110      39544.65     5959.4210
Produto 4          2640462       24010      36225.80     7193.3245
Produto 5          2892002       23530     126229.00    18887.0510

In [13]:
len(df)

4384

In [16]:
df['marg_porc'] = 100*df['Margem Lucro'] / df['Valor Pedido']

In [17]:
df

,Data,Nº pedido,Vendedor,Produto vendido,Quantidade,Cliente,Valor Pedido,Margem Lucro,marg_porc
0,2021-01-01,1011,Paulo,Produto 2,5,RUST,53.35,11.737,22.0
1,2021-01-01,2107,Cláudia,Produto 1,10,DIE CAST,58.70,5.283,9.0
2,2021-01-01,3203,Pedro,Produto 2,20,CORP,180.40,37.884,21.0
3,2021-01-01,4299,Ana,Produto 2,15,GATOP,129.15,25.830,20.0
4,2021-01-02,1012,Ana,Produto 3,15,RUST,33.60,6.048,18.0
...,...,...,...,...,...,...,...,...,...
4379,2021-12-30,5393,Pedro,Produto 5,40,RUST,210.40,42.080,20.0
4380,2021-12-31,2106,Ana,Produto 2,30,CORP,269.70,13.485,5.0
4381,2021-12-31,3202,Paulo,Produto 1,15,LUFA,67.65,5.412,8.0
4382,2021-12-31,4298,Ana,Produto 2,5,RUST,52.90,5.819,11.0
4383,2021-12-31,5394,Ana,Produto 5,10,AGD,51.30,8.208,16.0

In [19]:
df['Nº pedido'].where(df['marg_porc'] > 20, "menor que 20")

0               1011
1       menor que 20
2               3203
3       menor que 20
4       menor que 20
            ...
4379            5393
4380    menor que 20
4381    menor que 20
4382    menor que 20
4383    menor que 20
Name: Nº pedido, Length: 4384, dtype: object

In [21]:
df['Cliente'].nunique()

10

In [22]:
df.nunique()

Data                365
Nº pedido          4384
Vendedor              4
Produto vendido       5
Quantidade           11
Cliente              10
Valor Pedido       2260
Margem Lucro       3724
marg_porc            79
dtype: int64

In [25]:
df.sort_values(by='Nº pedido', ascending=True)

,Data,Nº pedido,Vendedor,Produto vendido,Quantidade,Cliente,Valor Pedido,Margem Lucro,marg_porc
0,2021-01-01,1011,Paulo,Produto 2,5,RUST,53.35,11.7370,22.0
4,2021-01-02,1012,Ana,Produto 3,15,RUST,33.60,6.0480,18.0
8,2021-01-03,1013,Cláudia,Produto 3,25,GATOP,40.50,3.6450,9.0
12,2021-01-04,1014,Paulo,Produto 1,50,LUFA,251.00,35.1400,14.0
16,2021-01-05,1015,Ana,Produto 4,5,ELLER,5.45,0.6540,12.0
...,...,...,...,...,...,...,...,...,...
4367,2021-12-27,5390,Paulo,Produto 1,30,LUFA,161.10,16.1100,10.0
4371,2021-12-28,5391,Paulo,Produto 2,15,CANDY,149.55,37.3875,25.0
4375,2021-12-29,5392,Ana,Produto 4,10,CANDY,15.20,1.6720,11.0
4379,2021-12-30,5393,Pedro,Produto 5,40,RUST,210.40,42.0800,20.0
4383,2021-12-31,5394,Ana,Produto 5,10,AGD,51.30,8.2080,16.0